# Ensure Windows scripts have CRLF line endings
install/install_windows.bat text eol=crlf
install/windows/*.bat text eol=crlf

# Ensure Linux and macos scripts have LF line endings
install/install_linux.sh text eol=lf
install/linux/*.sh text eol=lf
install/install_macos.sh text eol=lf
install/macos/*.sh text eol=lf